<style> 
    .smalltext{
        font-size: 16px; 
        color: #636060; 
        vertical-align: middle;
    }
    .emojis{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 16px;
    }
</style>

<h2 class="mt-4">Welcome to the Lickity Spliz! <span class="smalltext"> Made with <i class="fa fa-heart-o" style="font-size: 14px; color:red"></i> by Team Rails <i class="fa fa-diamond" style="font-size:15px;color:red"></i></span> </h2>
<h5 class="mt-4">Lickity Splitz is a delightful ice cream haven known for its creative and ever-changing array of flavors, with options ranging from classic favorites to unique, seasonal concoctions. The cheerful atmosphere and generous portions make it a top choice for ice cream enthusiasts of all ages.</h5>
