<style> 
    .smalltext{
        font-size: 14px; 
        color: #636060; 
        vertical-align: middle;
        font-family: Arial;
    }
    .emojis{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 16px;
    }
</style>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap">
  <style>
    /* .custom-text {
      font-family: 'Lilita One', sans-serif;
      font-weight: normal !important; /* Set the font weight to normal (not bold) */
    } */
  </style>

<div class="mt-6 max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="md:shrink-0">
  <%= image_tag("test2.png", class: "h-48 w-full object-cover md:h-full md:w-48", alt: "Modern building architecture") %>
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-lg font-semibold" style="color: #0CC0DF">Lickity Splitz</div>
      <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Discover culinary delight here</a>
      <p class="mt-2 text-slate-500">At Lickity Splitz, you'll find the perfect place for any time of day. Enjoy a hearty breakfast, savor a tasty lunch, and when summer's in full swing, don't miss our irresistible ice cream treats. It's the ultimate spot for all your cravings.</p>
    </div>
  </div>
</div>

