

<style> 
    .smalltext{
        font-size: 14px; 
        color: #636060; 
        vertical-align: middle;
        font-family: Arial;
    }
    .emojis{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 16px;
    }
</style>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap">
  <style>
    /* .custom-text {
      font-family: 'Lilita One', sans-serif;
      font-weight: normal !important; /* Set the font weight to normal (not bold) */
    } */
  </style>

<div class="mt-6 max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="md:shrink-0">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-lg font-semibold" style="color: #0CC0DF">Lickity Splitz</div>
      <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Discover culinary delight here</a>
      <p class="mt-2 text-slate-500">At Lickity Splitz, you'll find the perfect place for any time of day. Enjoy a hearty breakfast, savor a tasty lunch, and when summer's in full swing, don't miss our irresistible ice cream treats. It's the ultimate spot for all your cravings.</p>
    </div>
  </div>
</div>


<div class="mt-6">
  <div class="text-center py-4 lg:px-4 rounded-xl" style="background-color: #0CC0DF">
    <div class="p-2 items-center text-indigo-100 leading-none lg:inline-flex lg:rounded-full" role="alert" style="background-color: #34D2EE">
      <span class="flex rounded-full uppercase px-2 py-1 text-xs font-bold mr-3" style="background-color: #6BDEF3">Fan Favorites</span>
      <span class="font-semibold mr-2 text-left flex-auto">Our proudest creations</span>
      <!--<svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>-->
    </div>
  </div>
</div>

<br>
<h1>[Rotating images of food goes here.]</h1>